<h1>主婦のお悩み相談室とは？</h1>
<p>主婦は人それぞれ悩みを抱えています。<br>
   仕事と家庭の両立、育児の悩み、介護問題、家計の維持、同居、パートナーの不倫、DV、不妊、ワンオペ育児...<br>
   周りの人に相談できず、一人で思い悩んでいませんか。疲れ果てていませんか。<br>
   このサイトでは同じ悩みを抱えているユーザと気軽に交流したり、以前同じことで悩んでいた先輩主婦の方に相談できます。
</p>

<h1>このサイトの使い方</h1>
<p>検討中</p>