<!-- application.htmlで設定したnavのmarginを消すために記載 -->
<style type="text/css">
  #aaa {
    margin-bottom: initial!important;
  }
</style>


<header class="masthead text-center text-white", style="height: 100vh;">
  <div class="masthead-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2 class="masthead-subheading mb-0", style="padding-top: 40hv;">ようこそ！</h2>
          <h2 class="masthead-subheading mb-0">主婦同士で繋がりませんか？</h2>
          <p class="masthead-subheading mb-0", style="font-size: 20px; text-align: left; margin-top: 50px;">
            主婦は人それぞれ悩みを抱えています。<br>
            仕事と家庭の両立、育児の悩み、介護問題、家計の維持、同居、パートナーの不倫、DV、不妊、ワンオペ育児...<br>
            周りの人に相談できず、一人で思い悩んでいませんか。疲れ果てていませんか。<br>
            このサイトでは同じ悩みを抱えているユーザと気軽に交流したり、以前同じことで悩んでいた先輩主婦の方に相談できます。
          </p>
        </div>
      </div>
<!--       <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <i class="fas fa-users", style="font-size: 200px;"></i>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">おすすめユーザ</h2>
            <p>自分の現在の悩みを登録したら、過去同じ悩みを以前抱えていた方がおすすめユーザに表示されます</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <i class="fas fa-paper-plane", style="font-size: 200px;"></i>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">DM機能</h2>
            <p>繋がりたいユーザに直接メッセージを送ることができます。画面は自動更新されます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <i class="fas fa-comments", style="font-size: 200px;"></i>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">掲示板機能</h2>
            <p>掲示板を作成し、複数ユーザと交流することができます。DM同様画面は自動で更新されます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <i class="fas fa-bell", style="font-size: 200px;"></i>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">通知機能</h2>
            <p>参加している掲示板にコメントが来たり、DMが来たときは<br>通知が来ます</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <i class="fas fa-search", style="font-size: 200px;"></i>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">検索機能</h2>
            <p>ユーザや掲示板の検索ができます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
