<% @entries.each do |e| %>
  <% if e.user == current_user.id %>
  <% else %>
    <% if e.user.image.attached? %>
      <%= image_tag e.user.image , size: "100x100"    %>
    <% end %>
    <%= e.user.name %>
  <% end %>
<% end %>

<div id='chat'>
  <% @room_comments.each do |room_comment| %>
    <%= room_comment.content %>
    <p><%= room_comment.user.name %></p>
  <% end %>
</div>

<form>
  投稿： <input type="text" />
  <input type="submit" value="投稿" onClick="postRoomMessage()" />
</form>

