/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
 */
@import "bootstrap";

$blue: #D0ECFF !default;
$red: #d03c1b !default;
$yellow: #F0F17D !default;
$black: #222 !default;
$gray: #ECEDE5 !default;
$purple: #F0F17D !default;
$pink: #FFCFD2 !default;

$primary: $blue !default;
$secondary: $gray !default;
$warning: $yellow !default;
$info: $pink !default;
$dark: $black !default;
$light: $purple !default;

body{
  background-color: #fff;
  color: $black;
}


a.user_info{
  color: $black;
  text-decoration: none;
}

a.name{
   color: $black;
  text-decoration: none;
}