/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
 */
@import "bootstrap";
@import "wonder/one-page-wonder.scss";


// $blue: #D0ECFF !default;
// $red: #d03c1b !default;
// $yellow: #F0F17D !default;
// $black: #222 !default;
// $gray: #ECEDE5 !default;
// $purple: #F0F17D !default;
// $pink: #FFCFD2 !default;

// $primary: $blue !default;
// $secondary: $gray !default;
// $warning: $yellow !default;
// $info: $pink !default;
// $dark: $black !default;
// $light: $purple !default;


a.user_info{
  color: $black;
  text-decoration: none;
}

a.name{
   color: $black;
  text-decoration: none;
}

header.masthead {
  background: linear-gradient(0deg,#D0ECFF 0,#E695F4 100%);
}

header.masthead .bg-circle {
  background: linear-gradient(0deg,#E695F4 0,#D0ECFF 100%);
}

.navbar-custom {
  background-color: #FFCFD2;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

a.user_edit{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E695F4;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

input.user_edit{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E695F4;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.user-introduction {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.user-introduction:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.user-introduction p {
  margin: 0;
  padding: 0;
}



.troubles{
    padding: 0.5em 1em;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
.troubles p {
    margin: 0;
    padding: 0;
}

.boards{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.boards p {
    margin: 0; 
    padding: 0;
}

.tag {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.tag:before {
  content: '●';
  color: white;
  margin-right: 8px;
}


.board-content {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;
}

.board-content:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #fff0c6;
  border-radius: 50%;
}

.board-content:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #fff0c6;
  border-radius: 50%;
}
.board-content p {
  margin: 0; 
  padding: 0;
}