/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
 */
@import "bootstrap";
@import "wonder/one-page-wonder.scss";


// $blue: #D0ECFF !default;
// $red: #d03c1b !default;
// $yellow: #F0F17D !default;
// $black: #222 !default;
// $gray: #ECEDE5 !default;
// $purple: #F0F17D !default;
// $pink: #FFCFD2 !default;

// $primary: $blue !default;
// $secondary: $gray !default;
// $warning: $yellow !default;
// $info: $pink !default;
// $dark: $black !default;
// $light: $purple !default;


a.user_info{
  color: $black;
  text-decoration: none;
}

a.name{
   color: $black;
  text-decoration: none;
}

header.masthead {
  background: linear-gradient(0deg,#D0ECFF 0,#E695F4 100%);
}

header.masthead .bg-circle {
  background: linear-gradient(0deg,#E695F4 0,#D0ECFF 100%);
}

.navbar-custom {
  background-color: #FFCFD2;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

a.user_edit{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E695F4;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

input.user_edit{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E695F4;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.user-introduction {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.user-introduction:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.user-introduction p {
  margin: 0;
  padding: 0;
}



.troubles{
    padding: 0.5em 1em;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
.troubles p {
    margin: 0; 
    padding: 0;
}